export(fixed.effect)
export(fixed.effect.cluster.level)
export(random.effect)
export(weighted.crossover.cluster.level)
export(power.sim.normal)
export(power.sim.binomial)
export(power.sim.poisson)
export(make.base.data)
export(mixed.eff.params)
export(logit)
export(expit)
export(mixed.eff.params)
export(hayes.power.poisson)
importFrom(lme4, glmer)
